body {
		padding-top: 10%;
	}

	h2 {
		line-height: 1.3em !important;
		font-weight: normal !important;
		margin-bottom: 5%;
	}

	p.lead {
		text-align: center;
		margin-bottom: 10%;
	}

	.moregames {
		text-align: center;
		margin-bottom: 5%;
		font-weight: normal !important;
	}